/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "../custom_keys.h"
#include "../custom_combos.h"

&mt {
    // flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};
&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
};

/ { 

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // ┌─────┬─────┬─────┬─────┬─────┐     ┌─────┬─────┬─────┬─────┬─────┐
                // │  q  │  w  │  e  │  r  │  t  │     │  z  │  u  │  i  │  o  │  p  │
                // ├─────┼─────┼─────┼─────┼─────┤     ├─────┼─────┼─────┼─────┼─────┤
                // │  a  │  s  │  d  │  f  │  g  │     │  h  │  j  │  k  │  l  │  ö  │
                // ├─────┼─────┼─────┼─────┼─────┤     ├─────┼─────┼─────┼─────┼─────┤
                // │  y  │  x  │  c  │  v  │  b  │     │  n  │  m  │  ,  │  .  │  ß  │
                // └─────┴─────┴─────┼─────┼─────┤     ├─────┼─────┼─────┴─────┴─────┘
                //                   │2/Esc│1/Ret│     │1/Spc│2/Tab│
                //                   └─────┴─────┘     └─────┴─────┘
                //          |             |             |             |             |   |             |             |             |             |             |
                &kp DE_Q      &kp DE_W      &kp DE_E      &kp DE_R      &kp DE_T          &kp DE_Y       &kp DE_U      &kp DE_I        &kp DE_O      &kp DE_P
                &kp DE_A      &kp DE_S     HRML(DE_D,         DE_F,         DE_G)        HRMR(DE_H,          DE_J,         DE_K)       &kp DE_L      &lt 3 DE_SEMI
                HRMS(DE_Z)    &kp DE_X      &kp DE_C      &kp DE_V      &kp DE_B          &kp DE_N       &kp DE_M      &kp DE_COMMA    &kp DE_DOT    HRMS(DE_SZ)
                /**/                                      &lt 2 ESC     &lt 1 RET        &lt 1 SPACE    &lt 2 TAB
                >;
        };

        symbol_number_layer {
            bindings = <
                // ┌─────┬─────┬─────┬─────┬─────┐     ┌─────┬─────┬─────┬─────┬─────┐
                // │  @  │  _  │  [  │  ]  │ ^ ° │     │ 0 = │ 1 ! │ 2 " │ 4 $ │ 8 ( │
                // ├─────┼─────┼─────┼─────┼─────┤     ├─────┼─────┼─────┼─────┼─────┤
                // │  \  │  /  │  {  │  }  │  *  │     │ < > │  (  │  )  │ - _ │  &  │
                // ├─────┼─────┼─────┼─────┼─────┤     ├─────┼─────┼─────┼─────┼─────┤
                // │ # ' │  $  │  |  │  ~  │  ´  │     │ + * │  %  │  "  │  '  │  €  │
                // └─────┴─────┴─────┼─────┼─────┤     ├─────┼─────┼─────┴─────┴─────┘
                //                   │ (§) │ ___ │     │ ___ │  ¢  │
                //                   └─────┴─────┘     └─────┴─────┘
                &kp DE_AT     &kp DE_UNDER  &kp DE_LBKT   &kp DE_RBKT   &kp DE_CARET      &kp N0        &kp N1        &kp N2        &kp N4        &kp N8
                &kp DE_BSLH   &kp DE_FSLH   &kp DE_LBRC   &kp DE_RBRC   &kp DE_STAR       &kp DE_LT     &kp DE_LPAR   &kp DE_RPAR   &kp DE_MINUS  &kp DE_AMPS
                &kp DE_HASH   &kp DE_DLLR   &kp DE_PIPE   &kp DE_TILDE  &kp DE_ACUT       &kp DE_PLUS   &kp DE_PRCNT  &kp DE_DQT    &kp DE_SQT    &kp DE_EURO
                /**/                                      &kp DE_SECT   &trans            &trans        &kp DE_CENT
                >;
        };

        navigation_function_layer {
            bindings = <
                // ┌─────┬─────┬─────┬─────┬─────┐             ┌─────┬─────┬─────┬─────┬─────┐
                // │PgUp │ BSp │  ↑  │ Del │PgDn │             │ F10 │  F1 │  F2 │  F4 │  F8 │
                // ├─────┼─────┼─────┼─────┼─────┤             ├─────┼─────┼─────┼─────┼─────┤
                // │Home │  ←  │  ↓  │  →  │ End │             │OsSft│OsCtl│OsGui│     │OsAGr│
                // ├─────┼─────┼─────┼─────┼─────┤             ├─────┼─────┼─────┼─────┼─────┤
                // │ Ins │ Cut │Copy │Paste│PrScr│             │Power│OsAlt│     │     │CapsW│
                // └─────┴─────┴─────┼─────┼─────┤             ├─────┼─────┼─────┴─────┴─────┘
                //                   │     │     │             │ App │     │
                //                   └─────┴─────┘             └─────┴─────┘
                &kp PG_UP     &kp BSPC      &kp UP        &kp DEL       &kp PG_DN         &kp F10       &kp F1        &kp F2        &kp F4        &kp F8
                &kp HOME      &kp LEFT      &kp DOWN      &kp RIGHT     &kp END           &sk LSHIFT    &sk LCTRL     &sk LGUI      &none         &sk RALT
                &kp INS       &kp CCP_CUT   &kp CCP_CPY   &kp CCP_PST   &kp PSCRN         &kp C_PWR     &sk LALT      &none         &none         &caps_word
                /**/                                      &trans        &trans             &trans       &trans
                >;
        };

        special_layer {
            bindings = <
                &none         &none         &none         &none         &none             &none         &kp DE_UE     &none         &none         &none
                &kp DE_AE     &none         &none         &none         &none             &none         &none         &none         &none         &none
                &bt BT_CLR    &bt BT_PRV    &none         &bt BT_NXT    &none             &none         &none         &none         &none         &none
                /**/                                      &none         &none             &none         &none
                >;
        };

    };

    /* combos { */
    /*     compatible = "zmk,combos"; */

    /*     // numbers */
    /*     combo_N3 { */
    /*         timeout-ms = <50>; */
    /*         key-positions = <6 7>; */
    /*         layers = <1>; */
    /*         bindings = <&kp DE_N3>; */
    /*     }; */
    /*     combo_N5 { */
    /*         timeout-ms = <50>; */
    /*         key-positions = <6 8>; */
    /*         layers = <1>; */
    /*         bindings = <&kp DE_N5>; */
    /*     }; */
    /*     combo_N6 { */
    /*         timeout-ms = <50>; */
    /*         key-positions = <7 8>; */
    /*         layers = <1>; */
    /*         bindings = <&kp DE_N6>; */
    /*     }; */
    /*     combo_N7 { */
    /*         timeout-ms = <50>; */
    /*         key-positions = <6 7 8>; */
    /*         layers = <1>; */
    /*         bindings = <&kp DE_N7>; */
    /*     }; */
    /*     combo_N9 { */
    /*         timeout-ms = <50>; */
    /*         key-positions = <6 9>; */
    /*         layers = <1>; */
    /*         bindings = <&kp DE_N9>; */
    /*     }; */

    /*     // function keys */
    /*     combo_F3 { */
    /*         timeout-ms = <50>; */
    /*         key-positions = <6 7>; */
    /*         layers = <2>; */
    /*         bindings = <&kp F3>; */
    /*     }; */
    /*     combo_F5 { */
    /*         timeout-ms = <50>; */
    /*         key-positions = <6 8>; */
    /*         layers = <2>; */
    /*         bindings = <&kp F5>; */
    /*     }; */
    /*     combo_F6 { */
    /*         timeout-ms = <50>; */
    /*         key-positions = <7 8>; */
    /*         layers = <2>; */
    /*         bindings = <&kp F6>; */
    /*     }; */
    /*     combo_F7 { */
    /*         timeout-ms = <50>; */
    /*         key-positions = <6 7 8>; */
    /*         layers = <2>; */
    /*         bindings = <&kp F7>; */
    /*     }; */
    /*     combo_F9 { */
    /*         timeout-ms = <50>; */
    /*         key-positions = <6 9>; */
    /*         layers = <2>; */
    /*         bindings = <&kp F9>; */
    /*     }; */
    /*     combo_F11 { */
    /*         timeout-ms = <50>; */
    /*         key-positions = <5 6>; */
    /*         layers = <2>; */
    /*         bindings = <&kp F11>; */
    /*     }; */
    /*     combo_F12 { */
    /*         timeout-ms = <50>; */
    /*         key-positions = <5 7>; */
    /*         layers = <2>; */
    /*         bindings = <&kp F12>; */
    /*     }; */

    /* }; */
};
